* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.header-top{
    width: 100%;
    height: 50px;
    background-color: red;
}

.header-bottom{
    width: 100%;
    height: 500px;
    background-color: orange;
}

.body{
    width: 960px;
    height: 1400px;
    background-color: palegreen;
    margin: 0 auto;
}

.contents{
    width: 500px;
    height: 1400px;
    background-color: limegreen;
    margin: 0px 230px;
}

.footer{
    width:100%;
    height: 100px;
    background-color: blue;
}
